<table class="tictactoe-board">
    <tbody>
        <tr>
            <td class="occupied-X">X</td>
            <td >X</td>
            <td class="occupied-O">O</td>
        </tr>
        <tr>
            <td class="occupied-O">O</td>
            <td>O</td>
            <td class="occupied-X">X</td>
        </tr>
        <tr>
            <td>O</td>
            <td>X</td>
            <td class="occupied-X">X</td>
        </tr>
    </tbody>
</table>

<h4>The Winner is .....</h4>
<button>Restart</button>